div {
  background-color: lightgrey;
  width: 200px;
  border: 2px solid black;
  padding: 50px;
  margin: 20px;
  padding-top: 5px;
  text-align: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  justify-content: center;
}

.title-box {
  width: 880px;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: center;
  background-color: rgb(207, 228, 241);
  border-width: 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.title-text {
  font-family: "Aclonica";
}

.sub-title-text {
  font-family: "Aclonica";
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.text {
  font-family: "Aclonica";
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 210px;
  margin-top: 10px;
  padding-top: 25px;
  margin-bottom: 0;
  background-color: rgb(207, 228, 241);
  border-width: 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.balances {
  background-color: rgb(207, 228, 241);
  display: flex;
  border: 0;
  justify-content: center;
  padding-bottom: 0;
  margin-bottom: 0;
}

.balance-text {
  margin-top: 30px;
  margin-right: 50px;
}

.value-text {
  margin-top: 30px;
}

.debt-text {
  margin-top: 0px;
}

.debt-value {
  padding-top: 0px;
}

.laptops {
  cursor: pointer;
  text-align: center;
  font-style: oblique;
  margin-top: 15px;
  width: 200px;
  border-width: 2px;
  border-color: rgb(2, 107, 126);
  height: 25px;
  border-radius: 8px;
}

.button {
  margin-top: 40px;
  width: 100px;
  margin-bottom: 0;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  border-radius: 8px;
  border-width: 2px;
  border-color: rgb(56, 56, 56);
  padding: 4px 4px;
  background: linear-gradient(
    to right,
    rgb(17, 217, 243) 0%,
    rgb(3, 161, 209) 50%,
    rgb(1, 133, 156) 100%
  );
  color: #fff;
}

.button:hover {
  transform: scale(1.1);
  transition-duration: 300ms;
}

.button1 {
  margin-top: 43px;
}

.button2 {
  margin: 4px;
}

.button3 {
  margin: 4px;
}

.button4 {
  width: 100px;
  margin: auto;
}

.button5 {
  margin: 4px;
}

#ul-laptops {
  width: 200px;
  list-style-type: circle;
  padding-left: 0px;
  font-size: 13px;
  display: inline;
  text-align: left;
  justify-content: left;
}

.left-wide-box {
  margin-top: 10px;
  margin-right: 5px;
  width: 490px;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(207, 228, 241);
  border-width: 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.hide {
  display: none;
}

.inner-left-container,
.inner-right-container {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  height: 90%;
  border: none;
  background-color: rgb(207, 228, 241);
}

#laptop {
  margin-top: 30px;
  width: 200px;
}

#price {
  margin-top: 25px;
}

#image {
  border-style: none;
  height: 100px;
  width: 100px;
  margin-top: 30px;
}

.inner-container-text {
  margin-top: 15px;
}

.inner-container-graph {
  margin-top: 50px;
}

.inner-left-container {
  justify-content: center;
}

.right-wide-box {
  margin-top: 10px;
  margin-left: 5px;
  width: 280px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(207, 228, 241);
  border-width: 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
